.offer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding: 1rem 2rem;
}
.reverse {
  flex-direction: row-reverse;
}
.offer-carrusel {
    width: 90%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.offer-titleOffers {
    width: 80%;
    padding: 1rem;
    background-color: #ffffff59;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.offer-h4 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 30px;
    text-align: center;
}
.offer-btn {
    width: 120px;
    height: 50px;
    background-color: $pink-magic;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
} 
.offer-contenForm {
    width: 100%;
}
h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 30px;
    font-weight: 300;
    color:$pink-magic;
    margin-bottom: 1rem;
}
form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 20px auto;
    width: 80%;
    max-width: 750px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    p {
      font-size: 16px;

    }
  
    label {
      font-size: 14px;

      display: block;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;

    }
  
    input[type="radio"] {
      width: auto;
      margin-right: 10px;
    }
  
    textarea {
      height: 100px;
    }
  
    button {
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      background-color: #0099ff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0077cc;
      }
    }
  }

  @include breakpoint('medium') {
    .offer {
        flex-direction: row;
        padding: 3rem;
    }
    .offer-carrusel {
      width: 100%;
        height: 750px;
    }
    .offer-contenForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {
      width: 100%;
    }
    h3 {
      font-size: 50px;
    }
   }
   @include breakpoint('large') {
    .offer {
        flex-direction: row;
        padding: 5rem;
    }
    .reverse {
      flex-direction: row-reverse;
    }
    .offer-contenForm {
      padding: 2rem;
    }
   }
