$white: #fff;
$pink-magic: #e80a56;
$purple-magic: #75276f;
$blue-magic: #005091;
$grey-magic: #707794;
$pink-medium: #ffeaed;


/* Medias Querys*/
$bp-new-small: 320px !default;
$bp-new-medium-simple: 640px !default;
$bp-new-medium: 768px !default;
$bp-new-medium-tablet: 880px !default;
$bp-new-medium-high: 1024px !default;
$bp-new-large: 1280px !default;
$bp-new-xlarge: 1440px !default;
$bp-new-homepage-max: 1500px !default;

body {
  font-family: 'Product Sans', sans-serif;
  word-break: auto-phrase;
}

.main-principal {
  padding: 0 1rem 1rem 1rem;
  max-width: 1240px;
}

@include breakpoint('medium-high') { 
  .main-principal {
    margin: 0 auto;
    padding: 2rem 2rem 0rem 2rem;
  }
}